<!DOCTYPE html>
<html lang="ja">
  <%- include ('components/_head') %>
  <body class="l-body">
    <div class="l-container">
      <%- include ('components/_l-header') %> <%- include ('components/_l-drawer') %>

      <div class="l-contents p-page">
        <div class="p-page__header">
          <div class="c-container">
            <h2 class="p-page__title">プライバシーポリシー</h2>
          </div>
        </div>
        <div class="l-contents__body">
          <div class="c-container">ここにコンテンツが入ります。</div>
        </div>
        <!-- .l-contents__body -->
      </div>
      <!-- .l-contents -->

      <%- include ('components/_l-footer') %>
    </div>
    <!-- .l-container -->
    <%- include ('components/_scripts') %>
  </body>
</html>
