<!DOCTYPE html>
<html lang="ja">
  <%- include ('components/_head') %>
  <body class="l-body">
    <div class="l-container">
      <%- include ('components/_l-header') %> <%- include ('components/_l-drawer') %>

      <div class="l-contents p-page">
        <div class="p-page__header">
          <div class="c-container">
            <h2 class="p-page__title">
              <div class="c-heading">プライバシーポリシー</div>
            </h2>
          </div>
        </div>
        <!-- .p-page__header -->
        <div class="l-contents__body">
          <main class="l-contents__main">
            <!-- WP編集エリア ここから-->
            <article class="p-page__content">
              <div class="c-container">
                <div class="c-article">ここにコンテンツが入ります。</div>
              </div>
              <!-- .c-article -->
            </article>
            <!-- .c-container -->
            <!-- WP編集エリア ここまで-->
          </main>
        </div>
        <!-- .l-contents__body -->
      </div>
      <!-- .l-contents -->

      <%- include ('components/_l-footer') %>
    </div>
    <!-- .l-container -->
    <%- include ('components/_scripts') %>
  </body>
</html>
